/* NavigationBar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-size: 1rem;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  
  .btn-primary {
    font-size: 1rem;
  }
  
  .nav-link.text-white {
    margin-right: 10px;
  }
  
  .ml-auto {
    margin-left: auto !important;
  }