/* PostList.css */
.post-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .post-link {
    text-decoration: none;
  }
  
  .post-title {
    color: black;
    font-weight: bold;
  }
  
  .post-author {
    font-size: 14px;
  }
  
  .post-summary {
    margin-top: 10px;
  }
  