body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Add this CSS in your global stylesheet or style component */
.password-input {
  position: relative;
}

.password-input input {
  padding-right: 30px; /* Space for the eye icon */
}

.password-input .eye-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right spacing */
  transform: translateY(-50%);
  cursor: pointer;
}
